.all{
    width: 90%;
    margin: auto;
}
.bg-header{
    background-color: #9abcde;

}

input[type="email"] {
    direction: rtl;
    text-align: right; 
    
  }
  input{
    width: 100%;
    margin: auto;
  }
.form-group{
    width:90% ;
    margin: auto;
    
}

.alert{
    color: rgb(227, 37, 37);
    margin:0%;
    padding: 0%;
    
    
}
  .password-toggle-btn {
    position: absolute; 
    top: 50%; 
    right:95%;
    transform: translateY(-25%); 
    z-index: 1; 
    cursor: pointer;
   
    margin-top: 20px;
   
}

@media (max-width: 768px) {
    .password-toggle-btn {
    top: 52%; 
    right:93%;
    transform: translateY(-25%);
    }
}
@media (max-width: 991.98px) {
    .password-toggle-btn {
    top: 52%; 
    right:93%;
    transform: translateY(-25%);
    }
}

@media (max-width: 1399.98px) {
    .password-toggle-btn {
    top: 52%; 
    right:93%;
    transform: translateY(-25%);
    }
}

.password-requirements {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .password-requirements li {
    margin-right: 15px; 
    white-space: nowrap; 
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  
  .popup-content input {
    margin-top: 10px;
  }
 .lil{
  color: rgb(0, 0, 0);
 }
