<div class="footer-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 py-4">
        <div class="footer-column">
          <h4>روابط سريعة</h4>
          <ul>
            <li><a [routerLink]="['/home']">الرئيسية</a></li>
            <li><a [routerLink]="['/about']">من نحن</a></li>
            <li><a [routerLink]="['/service']">الخدمات</a></li>
            <li><a [routerLink]="['/contact']">اتصل بنا</a></li>
            <li><a [routerLink]="['/book']">احجز الان</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 py-4">
        <div class="footer-column">
          <h4>ساعات العمل</h4>
          <p class="mb-0">طوال ايام الأسبوع : 8 صباحًا - 6 مساءً</p>
          <p>الأحد : مغلق</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-column d-flex flex-column flex-md-row align-items-center mt-3 text-center text-md-start">
          <div class="footer-info me-md-3">
            <h2 class="h4 mb-2">مركز جلوسي لطب وجراحة الأسنان</h2>
            <p class="mb-1">
              <i class="fa-solid fa-location-dot me-2"></i>
              القوصية : 
              <a target="_blank" href="https://maps.app.goo.gl/pKNHszV8pfXVckvB6" class="text-white">شارع الجلاء بجوار النادي</a>
            </p>
            <p>
              <i class="fa-solid fa-location-dot me-2"></i>
              ابنوب : 
              <a href="https://maps.app.goo.gl/8e8JV5vLYEMzgpic7" class="text-white">شارع بورسعيد أمام المحكمة</a>
            </p>
          </div>
          <img src="../../../assets/images/rb_92447.png" alt="clinic logo" class="footer-logo mt-3 mt-md-0">
        </div>
      </div>
  </div>
<div class="footer-bottom pt-3">
  <p class="mb-0 fs-4">حقوق النشر © 2024  Glossy Dental Clinic</p>
</div>
</div>


