
<div class="forgot-password-container mt-5 w-75 mb-5">
  <h2>نسيان كلمة السر</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
    <div class="form-group">
      <label for="email" class="h4 mb-3">البريد الالكتروني:</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="ادخل البريد الالكتروني "
        class="form-control" 
      />

      <!-- Display validation error for required field -->
       @if(forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.hasError('required')){
        <div class="alert alert-danger mt-3">
          Email is required
        </div>
       }@else if (forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.hasError('email')) 
       {
        <div  class="alert alert-danger mt-3">
          Please enter a valid email address
        </div>
       }
      
    </div>
    @if(msgErorr){
      <p class="alert alert-danger mt-2 mx-auto text-center">{{msgErorr}}</p>
    }
    <button type="submit" [disabled]="forgotPasswordForm.invalid" class="submit-button fs-5">
      ارسل الكود
      @if(isloading){
        <i class="fas fa-spin fa-spinner fs-4"></i>

      }
    </button>
  </form>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}"> 

  <div class="modal-dialog modal-confirm">
		<div class="modal-content">
        <div class="modal-header">
          <div class="mx-auto">
            <img src="./assets/images/EnhancedLogo.png" width="200" height="100" >

          </div>
    </div>
    <div class="modal-body text-center">
      <h4 class="h5">
        تم إرسال الكود
        <i class="fas fa-check-circle" style="color: green; margin-right:4px;"></i>
      </h4>	
      <button class="btn btn-success mt-3" data-dismiss="modal" (click)="closePopup()">اذهب لتتعيين كلمة سر جديدة</button>
    </div>
  </div>
</div>
</div>
 