
<form (submit)="changePassword()" class="change-password-form">
  <h3>تغيير كلمة السر</h3>
  <div class="form-group">
    <label for="currentPassword">الرقم السري الحالي</label>
    <input
      type="password"
      class="form-control"
      id="currentPassword"
      [(ngModel)]="currentPassword"
      name="currentPassword"
      required
    />
  </div>

  <div class="form-group">
    <label for="newPassword">الرقم السري الجديد</label>
    <input
      type="password"
      class="form-control"
      id="newPassword"
      [(ngModel)]="newPassword"
      name="newPassword"
      required
      minlength="6"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$"
    />
    <div
      *ngIf="
        newPassword &&
        (newPassword.length < 6 || !passwordPattern.test(newPassword))
      "
      class="text-danger"
    >
      <strong *ngIf="newPassword.length < 6"
        >يجب أن تتكون كلمة المرور من 6 أحرف على الأقل</strong
      >
      <strong *ngIf="!passwordPattern.test(newPassword)">
        <ul>
          <li>يجب أن تحتوي كلمة المرور على حرف كبير واحد على الأقل.</li>
          <li>يجب أن تحتوي كلمة المرور على حرف صغير واحد على الأقل.</li>
          <li>يجب أن تحتوي كلمة المرور على رقم واحد على الأقل.</li>
          <li>يجب أن تحتوي كلمة المرور على رمز خاص واحد على الأقل.</li>
        </ul>
      </strong>
    </div>
  </div>

  <div class="form-group">
    <label for="confirmNewPassword">تاكيد كلمة السر الجديدة</label>
    <input
      type="password"
      class="form-control"
      id="confirmNewPassword"
      [(ngModel)]="confirmNewPassword"
      name="confirmNewPassword"
      required
    />
    <div
      *ngIf="confirmNewPassword && confirmNewPassword !== newPassword"
      class="text-danger"
    >
      <strong>يجب أن تتطابق كلمات المرور</strong>
    </div>
  </div>

  <div *ngIf="changePasswordError" class="alert alert-danger">
    {{ changePasswordError }}
  </div>

  <button type="submit" class="btn btn-primary"     [disabled]="!currentPassword || !newPassword || !confirmNewPassword || newPassword !== confirmNewPassword || !passwordPattern.test(newPassword)"
  >تغييرالرقم السري</button>
</form>

<div
  class="modal fade"
  id="resultModal"
  tabindex="-1"
  aria-labelledby="resultModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">{{ resultTitle }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ resultMessage }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          الغاء
        </button>
      </div>
    </div>
  </div>
</div>

